<html> 
<head> 
    {% load static %}
    <title>Receitas do Nordeste Brasileiro, por ChatGPT</title> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous"> 
    <script src="{% static 'script.js' %}"></script> 
</head> 
<body> 
    <div class="container p-3"> 
        <h3>Receitas do Nordeste Brasileiro, por ChatGPT</h3>
        <br>
        <div class="mb-3"> 
            <form method="post"> 
                {% csrf_token %} 

                <div class="rendered-form">
                    <div class="">
                        <h5 access="false" id="control-39578">Especificações da receita</h5></div>
                    <div class="formbuilder-radio-group form-group field-tiporeceita">
                        <label for="tiporeceita" class="formbuilder-radio-group-label"><b>Tipo</b></label>
                        <div class="radio-group">
                            <div class="formbuilder-radio">
                                <input name="tiporeceita" access="false" id="tiporeceita-0" value="prato principal" type="radio">
                                <label for="tiporeceita-0">Prato principal</label>
                            </div>
                            <div class="formbuilder-radio">
                                <input name="tiporeceita" access="false" id="tiporeceita-1" value="sobremesa" type="radio" checked="checked">
                                <label for="tiporeceita-1">Sobremesa</label>
                            </div>
                            <div class="formbuilder-radio">
                                <input name="tiporeceita" access="false" id="tiporeceita-2" value="acompanhamento" type="radio">
                                <label for="tiporeceita-2">Acompanhamento</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="formbuilder-text form-group field-tempo-medio-receita">
                        <label for="tempo-medio-receita" class="formbuilder-text-label"><b>Tempo médio de preparo</b></label>
                        <input type="text" class="form-control" name="tempo-medio-receita" access="false" value="30 minutos" maxlength="40" id="tempo-medio-receita">
                    </div>
                    <br>
                    <div class="formbuilder-textarea form-group field-ingredientes-receita">
                        <label for="ingredientes-receita" class="formbuilder-textarea-label"><b>Ingredientes desejados</b></label>
                        <textarea type="textarea" class="form-control" name="ingredientes-receita" access="false" maxlength="140" id="ingredientes-receita">goiabada, queijo coalho</textarea>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-lg" type="submit" onclick="loading()">
                    <i class="spinner-border spinner-border-sm" role="status" style="display:none;"></i>
                    <span class="btn-text">Gerar receita</span>
                </button> 
            </form>
        </div> 
        <br> 
        <div id="error"></div>
        <div class="mb-3"> 
            <h5 id="rec_title"></h5>
            <div id="rec_desc"></div>
            <br>
            <div id="rec_prep_time"></div>
            <br>
            <div id="rec_cook_time"></div>
            <br>
            <div id="rec_ingr">
            </div>
            <div id="rec_direc">
            </div>
              
        </div> 
    </div> 
</body> 
</html> 